.SpendDetails {
    width: 197px;
    height: 196px;

    display: flex;
    flex-direction: column;

    background: var(--white-background);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.ResumeTitle {
    font-size: 18px;
}

.Dark-Black {
    color: var(--dark-black-color);
}