.Home {
    width: 100%;
}

.Dashboard-Home {
    width: 100%;
    
    position: absolute;
    top: 106px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 32px 0px 100px;
    background-color: var(--white-color);
    border-radius: 60px 60px 0px 0px;
}

.First-Section-Home {
    display: flex;
    gap: 50px;

    margin-bottom: 42px;
}