.Home {
    width: 100%;
}

.Dashboard-Home {
    width: 100%;
    
    position: absolute;
    top: 118px;

    padding: 55px 82px 100px 82px;
    background-color: var(--white-color);
    border-radius: 60px 60px 0px 0px;
}

.First-Section-Home {
    display: flex;
    gap: 50px;

    margin-bottom: 61px;
}