.CardToLoginAndSignIn {
    width: 513px;

    background-color: var(--white-color);
    padding: 58px 32px;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Title-Card {
    font-size: 28px;
    line-height: 33px;
    color: var(--purple-button-color);

    margin-bottom: 42px;
}

.Div-Input-Card {
    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-bottom: 31px;
}

.Div-Input-Card label {
    font-size: 18px;
    line-height: 21px;
}

.Input-Card {
    all: unset;

    width: 402px;
    height: 60px;

    border: 1px solid var(--gray-border-color);
    border-radius: 5px;

    padding: 0 16px;
}

.Button-Card {
    height: 25px;
    width: 346px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 53px;
}

.JaCadastrou {
    cursor: pointer;
    
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    text-align: center;
    color: #7B61FF;

    margin-top: 14px;
}