.ModalRegister {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgba(61, 61, 61, 0.48);
}

.Register {
    width: 540px;
    height: 580px;

    padding: 38px 58px;
    background-color: var(--white-color);
    border-radius: 20px;
}

.Register-Top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 24px;
}

.Register-Title {
    font-size: 25px;
    line-height: 32px;
}

.CloseIcon {
    cursor: pointer;
}

.Type {
    display: flex;
}

.Entrance {
    background-color: var(--blue-money-color);
}

.Exit {
    background-color: var(--red-exit-color);
}

.Entrance, .Exit {
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.Register form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 26px;

    margin-top: 15px;
}

.Input-Register {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 9px;
}

.Input-Register input {
    all: unset;

    height: 35px;
    
    padding: 0px 24px;
    border-radius: 5px;
    border: 1px solid #555555;
}

.Register-Label {
    font-size: 16px;
    line-height: 14px;
    color: var(--dark-gray-color);
}

.Button-Register {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 95px;
}