.FilterByCategory {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.ToOpenFilter {
    width: 80px;
    height: 30px;

    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    background: var(--white-background);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    font-size: 12px;
    line-height: 14px;
}

.Categories {
    width: 920px;
    height: 220px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;

    padding: 20px 0px 14px 36px;
    background-color: var(--white-background);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.CategoriesButNothing {
    display: none;
}

.Categories section {
    width: 460px;

    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

.CategoryTitle {
    font-size: 12px;
    line-height: 14px;
    color: var(--light-gray-color);
}

.CategoryName {
    font-size: 10px;
    line-height: 12px;
}

.CategoryContainer {
    width: 80px;
    height: 20px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background: var(--white-background);
    box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.Buttons-Category {
    display: flex;
    gap: 18px;

    font-size: 12px;
    line-height: 14px;
}

.CleanFilters {
    background-color: var(--white-color);
    color: var(--black-color);
}