* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  --white-color: #FFFFFF;
  --purple-color: #7978D9;
  --gray-color: #484848;
}

.Font-Rubik {
  font-family: 'Rubik', sans-serif;
}

.Font-Lato {
  font-family: 'Lato', sans-serif;
}

.Font-Seven {
  font-weight: 700;
}

.Font-Five {
  font-weight: 500;
}

.Font-Four {
  font-weight: 400;
}

button {
  all: unset;
  cursor: pointer;

  padding: 11px 47px 14px;
  border-radius: 5px;
  background-color: var(--purple-color);

  color: var(--white-color);
}