* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  --white-color: #FFFFFF;

  --dark-gray-color: #484848;
  --light-gray-color: #B9B9B9;

  --light-black-color: #000000;
  --dark-black-color: #2F2F2F;

  --purple-money-color: #645FFB;
  --orange-money-color: #FA8C10;
  --blue-money-color: #3A9FF1;

  --red-exit-color: #FF576B;
  --green-success-color: #6DE01F;

  --purple-button-color: #7978D9;
  --gray-border-color: #555555; 
  --white-background: #FAFAFA;
}

.Font-Rubik {
  font-family: 'Rubik', sans-serif;
}

.Font-Lato {
  font-family: 'Lato', sans-serif;
}

.Font-Four {
  font-weight: 400;
}

.Font-Five {
  font-weight: 500;
}

.Font-Seven {
  font-weight: 700;
}

button {
  all: unset;
  cursor: pointer;
}

.Button-Purple-Submit {
  padding: 11px 47px 14px;
  border-radius: 5px;
  background-color: var(--purple-button-color);

  color: var(--white-color);
}

.Button-Purple-Filter {
  padding: 8px 11px;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: var(--purple-button-color);

  color: var(--white-color);
}

.Button-White-Filter {
  padding: 8px 11px;
  box-shadow: 0px 2px 11px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: var(--white-color);

  color: var(--light-black-color);
}

.Dindin {
  font-size: 36px;
  line-height: 43px;
  color: var(--white-color);
}